 /* Stilmall för det huvudsakliga på alla sidor, färg, bakgrund, typsnitt, typstorlek m.m */
body {
	margin: 0;
	padding: 0;
	color: #656565;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	background: #e0e0e0 url(../images/bakgrund.jpg) repeat-x top;
}

/* Länkarna som syns i menyn högst upp på första sidan */
a, a:link, a:visited { color: #000; font-weight: normal; text-decoration: none }
a:hover { color: #000; text-decoration: underline; } 

/* Länkarna som syns i högerspalten på första sidan */
a.more {
    background: #bbb;
    background: -moz-linear-gradient(top, #efefef 0%, #bbb 100%);
    background: -o-linear-gradient(top, #efefef 0%, #bbb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #bbb));
    background: -webkit-linear-gradient(top, #efefef 0%, #bbb 100%);
    background: linear-gradient(top, #efefef 0%, #bbb 100%);
    border: 1px solid #aaa;
    color: #000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 25px 10px 10px;
    position: relative;
    text-decoration: none;
}

a:hover.more, a:focus.more,
a:hover:before.more, a:hover:after.more,
a:focus:before.more, a:focus:after.more {
	color: #fff;
}

/* Stilmall för rubrikerna på de olika sidorna, vilken färg,font och storlek */

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0; }
h2 { font-size: 38px; margin: 0 0 25px; padding: 5px 0; }
h3 { font-size: 30px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 20px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

/* Stilmall för själva bodyn på hemsidan te.x att den har en bredd på 960px*/
#wrapper {
	margin: 0 auto;
	padding: 0 10px;
	width: 960px;
}


#menu {
	float: right;
}

/* Stilmall för headern. den ska har full bredd, en höjd på 152 px och ska hämta bilden header.jpg som bakgrund till headern */
#header {
	width: 100%;
	height: 152px;
	background: url(../images/header.jpg) no-repeat top left
}

/* Stilmall för hyheterna på förstasidan samt all text innehåll på övriga sidor Storlek och placering*/
#main {
	width: 60%;
	float: left;
	padding: 60px 0px 20px;
	
}

#piecemaker_wh { width: 960px; height: 500px; } 

/* Stilmall för den gråa högerspalten på första sidan */
#links {
	width: 300px;
	float: right;
	padding: 38px 0px 20px;
	
}
.main_wh {
	margin-bottom: 40px;
	padding-bottom: 60px;
	border-bottom: 1px solid #a3a3a3;
}

.main2_wh {
	margin-bottom: 40px;
	padding-bottom: 80px;
	border-bottom: 1px solid #a3a3a3;
	clear: both;
}

.main3_wh {
	margin-bottom: 40px;
	padding: 20px;
	border: 4px solid #c0c0c0;
	background: #c0c0c0;
	border-radius:10px;
}

/* Stilmall för loggan */

#logo {
	float: left;
	margin-top: 54px;
}

#logo h1 {
	margin: 0;
	padding: 0
}

#logo h1 a {
	display: block;
	width: 400px;
	height: 86px;
	color: #fff;
	text-indent: -10000px;
	background: url(../images/logo.png) no-repeat top center;
}


/* Stilmall för footern */

#footer_wrapper {
	clear: both;
	width: 100%;
	background: #000000 url(../images/footer.png) top right repeat-x;

}

#footer {
	bottom:0;
	width: 960px;
	padding: 20px 10px 15px;	
	margin: 0 auto;
	color: #666;
	text-align: center;
}