body {
	margin: 0;
	padding: 0;
	color: #656565;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background-color: #e0e0e0;
	background-repeat: repeat-x;
	background-position: top;
	background-image: url(images/bakgrund.jpg)

}


}

a, a:link, a:visited { color: #000; font-weight: normal; text-decoration: none }
a:hover { color: #000; text-decoration: underline; } 


p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
blockquote { font-style: italic; margin: 0 0 0 10px;}
cite { font-weight: bold; color:#000; }
cite a, cite a:link, cite a:visited  { font-weight: bold; color:#000; }
cite span { font-weight: 400; color: #656565; }
em { color: #000; }

h1, h2, h3, h4, h5, h6 { color: #333; font-weight: normal; 	font-family: Georgia, "Times New Roman", Times, serif; }
h1 { font-size: 48px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 38px; margin: 0 0 25px; padding: 5px 0; }
h3 { font-size: 30px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 20px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

#wrapper {
	margin: 0 auto;
	padding: 0 10px;
	width: 960px;
}
.float_l { float: left }
.float_r { float: right }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }


#menu { float: right; }

#header {
	width: 100%;
	height: 152px;
	background: url(images/header.jpg) no-repeat top left
}
#main {
	clear: both;
	width: 480px;
	padding: 60px 0 20px;
	float: left;
}

#piecemaker_wh { width: 960px; height: 500px; } 


#content {
	float: left;
	width: 630px;
}
.main_wh { margin-bottom: 40px; padding-bottom: 60px; border-bottom: 1px solid #a3a3a3 }
.main2_wh { margin-bottom: 40px; padding-bottom: 20px; border-bottom: 1px solid #a3a3a3 }
.w460 { width: 460px } 

#logo { float: left; margin-top: 54px; }
#logo h1 { margin: 0; padding: 0 }
#logo h1 a { display: block; width: 400px; height: 86px; color: #fff; text-indent: -10000px; background: url(images/logo.png) no-repeat top center }

#Meddelande {
	background:url(images/broadcast.png) bottom repeat-x;
	width:960px;
	height:34px;
	margin-top:29px;
	float:right;
}

#Meddelande #megaphone {
	background:url(images/broadcast.png) top left no-repeat;
	width:31px;
	height:34px;
	position:absolute;
}

#Meddelande #end {
	background:url(images/broadcast.png) top right no-repeat;
	width:6px;
	height:34px;
	float:right;
}

#Meddelande marquee {
	width:960px;
	position:absolute;
	color:#ffffff;
	font-size:14px;
	padding-top:8px;
}

#footer_wrapper {
	clear: both;
	width: 100%;
	background: #000000 url(images/footer.png) top repeat-x

}


#footer {
	float: bottom;
	clear: both;
	width: 960px;
	padding: 30px 10px 15px;	
	margin: 0 auto;
	color: #666;
	text-align: center;
}